
body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.board {
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: goldenrod;
}

.blue {
  background: blue;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}
